body{
    background-color: aquamarine;
}
#cabecera{
    background-color: chartreuse;
}
#principal{
    background-color: gold;
    margin: 4px;
    padding: 16px;
}
#articulo{
    background-color: rgb(222, 70, 70);
    margin: 5px;
    padding: 15px;
}
#pie{
    background-color: black;
    color: lightgreen;
    border-style: solid;
    border-width: medium;
    border-color: pink;
    text-align: center;
    }
